body {
  margin: 0;
  padding: 0;
  font: normal 100%/1.4 Georgia,serif;
  background-color: #2f343f;
}
/*  */
#content {
  background-color:#4C4C4C;
  /* background-image:url(/img/sa.jpg); */
}
a{
  text-decoration: none;
  color: inherit;
}

#paginator>button,#paginator a{
  /* background-color: gray; */
  font-size: 1em;
  height: 100%;
  /* width: 30%; */
}

#paginator {
  background-color: gray;
  text-align: center;
  margin: 2%;
}

#comments {
  border: solid;
  margin: 3%;
}
#posts{
  box-sizing: border-box;
  border: solid;
  overflow: hidden;
}
.functions{
  border:solid;
  margin: 1%;
}
